I've chosen the PrideInn Azure Hotel in Nairobi and will be pulling reviews from tripadvisor.

### Imports

In [2]:
import requests as req
from bs4 import BeautifulSoup 
import numpy as np 
import pandas as pd 
import csv

In [ ]:
# Extracting HTML and creating a BeautifulSoup object
url = ('https://www.tripadvisor.com/Hotel_Review-g294207-d7144342-Reviews-PrideInn_Azure_Hotel_Nairobi-Nairobi.html')

# spoofing 'user agent' in request to avoid "antibot" software where the web-server denies the scrape reqeust thinking its coming from a bot
user_agent = ({'User-Agent':
			'Mozilla/5.0 (Windows NT 10.0; Win64; x64) \
			AppleWebKit/537.36 (KHTML, like Gecko) \
			Chrome/90.0.4430.212 Safari/537.36',
			'Accept-Language': 'en-US, en;q=0.5'})

def get_page_contents(url):
    page = req.get(url, headers = user_agent)
    return BeautifulSoup(page.text, 'html.parser')

soup = get_page_contents(url)

In [ ]:
# Finding and extracting data elements
names = []
for name in soup.findAll('a',{'class':'ui_header_link uyyBf'}):
    names.append(name.text.strip())


reviews = []
for review in soup.findAll('div',{'class':'fIrGe _T'}):
    reviews.append(review.text.strip())
revs =reviews[:10]

In [ ]:
# Creating Dataframe

# dictionary to store and sort the collected data
dict = {'Names':names,'Reviews':revs}

In [ ]:
azure = pd.DataFrame.from_dict(dict)
azure.head(5)

In [ ]:
# Convert dataframe to CSV file.
azure.to_csv('azure.csv', index=False, header=True)

In [3]:
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer,WordNetLemmatizer
from nltk.corpus import wordnet

In [4]:
o1 = pd.read_csv("azure.csv", encoding='latin1')
o1.head()

              Names                                            Reviews
0          Leslie H  PrideInn Azure Hotel Nairobi is located in Wes...
1           Steve J  Rooms are big enough, clean and well arranged....
2  Benjamin Kioko M  20 yr. Hx staying at high end hotels and lodge...
3            Noel B  Dear Steve,  Thank you very much for sharing y...
4            Mata M  I stayed for 3 nights and I felt like not leav...

In [5]:
o1.shape

(10, 2)

In [6]:
o1.describe()

           Names                                            Reviews
count         10                                                 10
unique        10                                                 10
top     Leslie H  PrideInn Azure Hotel Nairobi is located in Wes...
freq           1                                                  1

In [ ]:

def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt 

o1['Reviews'] = np.vectorize(remove_pattern)(o1['Reviews'], "@[\w]*")

o1.head()

In [ ]:
text = o1['Reviews']
text

In [ ]:
nltk.download('punkt')

In [ ]:
# Cleaning 'text' and stemming

i=0
corpus = []
stop_words = set(stopwords.words("english"))

for i in text:
    text = re.sub(r'[A-Za-z0-9]+', text[i])
    text = text.lower()
    text = text.split()
    pst = PorterStemmer()
    text = [pst.stem(word) for word in text if not word in stop_words]
    text = ' '.join(text)
    corpus.append(text)

In [ ]:
# Lemmatizing

nltk.download('wordnet')

In [ ]:
i=0
lemmatizer = WordNetLemmatizer()

for i in text:
    text = lemmatizer.text()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from wordcloud import WordCloud

In [ ]:
#Creating the text variable
text = " ".join(cat.split()[1] for cat in df.category)

In [ ]:
# Creating word_cloud with text as argument in .generate() method
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(text)

In [ ]:
# Display the generated Word Cloud
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()